@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo&family=Comfortaa&family=Courgette&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

body {
    font-family: 'Chivo', sans-serif;
    
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: #5f9bce;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px grey;
    position: fixed;
    background-color: white;
    z-index: 1;
    
}

header > #content {
    display: flex;
    width: 150px;
    margin-left: 80px;
    justify-content: space-between;
}

header > #content > button {
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

header > #content > #sair {
    display: none;
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #5f9bce;
    font-size: 28px;
    cursor: pointer;
    height: 25px;
    margin-top: -7px;
}

header > #content > button > span{
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #5f9bce;
    display: flex;
}

header > #content > h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    cursor: pointer;
    font-style: normal;
}

header > #content > h1:hover {
    color: #6f869a;
}

nav {
    position: fixed;
    top: 62px;
    left: 0;
    width: 400px;
    height: 200vh;
    justify-content: center;
    transition: transform 0.3s ease-in;
    display: grid;
    background-color: white;
    box-shadow: 0.5px 5px 5px grey;
    transition: 220ms;
    left: -130%;
    padding-top: 8px;
}

nav > ul {
    width: 130px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #5f9bce;
    line-height: 3.2em;
}

nav > ul > li a:hover {
    color: #6f869a;
}

.menu-auxiliar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: white;
    box-shadow: 0px -1px 3px grey;
    z-index: 1;
}

.menu-auxiliar > ul {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.menu-auxiliar > ul > li {
    list-style-type: none;
}

.menu-auxiliar > ul > li > a {
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #5f9bce;
    display: grid;
    justify-content: center;
}

.menu-auxiliar > ul > li > a:hover {
    color: #6f869a;
}

.menu-auxiliar > ul > li > a > i {
    width: 28px;
    margin: 0 auto 5px auto;
    padding-left: 5px;
}

header > ul {
    display: flex;
    margin-right: 25px;
}

header > ul > li {
    list-style-type: none;
    padding-right: 40px;
}

header > ul > li > a {
    text-decoration: none;
    color: #5f9bce;
}

header > ul > li > a:hover {
    color: #6f869a;
}

header > ul > li > a > i {
    width: 28px;
    font-size: 15px;
}

main {
    min-width: 300px;
    max-width: 1242px;
    padding: 70px 8% 0 8%;
    margin: auto;
}

#banner {
    width: 100%;
}

#banner > article {
    text-align: center;
    font-family: "Chivo",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 75px;
    margin-bottom: 83px ;
}

#banner > article > h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 56px;
    font-weight: 700;
    color: #5f9bce;
    margin-bottom: 19px;
}

#banner > article > p {
    margin-bottom: 22px;
    line-height: 1.5em;
    color: #000000;
}

#banner > article > button {
    color: white;
    background-color: #5f9bce;
    font-family: "Chivo",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    width: 268px;
    height: 60px;
    border-radius: 2px;
}

#banner > article > button:hover {
    background-color: #6F869A;
}

img {
    width: 100%;
}

#atualizacoes {
    width: 100%;
    margin-top: 130px;
}

hr {
    border: 1px solid black;
    margin: 0 auto 20px auto;
    width: 50px;
}

#atualizacoes > h2 {
    font-family: 'Comfortaa', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    text-align: center;
    margin-bottom: 50px;
}

.noticias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticias > figure {
    width: 32.1%;
    margin-bottom: 70px;
}

.noticias > figure > figcaption > h3 {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.noticias > figure > figcaption > p > a{
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5f9bce;
    text-decoration: none;
}

.noticias > figure > a:hover{
    color: #6f869a;
}

.noticias > figure > figcaption > p > a:hover{
    color: #6f869a;
}

.nome {
    margin-top: 20px;
}

.detalhe {
    margin-top: 30px;
}

.noticias > figure > p {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5em;
    padding-bottom: 25px;
    color: #202124;
}

.noticias > figure > a {
    text-decoration: none;
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5f9bce;
    cursor: pointer;
    display: block;
}

.noticias > figure > .inscricao {
    font-weight: 800;
    margin-top: 35px;
}

.noticias > figure > hr {
    border: 1px solid #5f9bce;
    width: 112px;
    margin-top: 8px;
    float: left;
}

#depoimentos {
    width: 100%;
    margin-top: 10px;
}

#depoimentos h2 {
    font-family: 'Comfortaa', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    text-align: center;
    margin-bottom: 40px;
}

#depoimentos img {
    width: 110px;
    height: 45px;
    margin-right: 7px;
}

#comentarios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#comentarios > span {
    width: 28.2%;
    margin-bottom: 70px;
}

#comentarios > span > figure {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

#comentarios > span > figure > span{
    display: flex;
    align-items: center;
}

#comentarios > span > figure > span > i {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    opacity: 0.8;
}

#comentarios > span > p {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5em;
    color: #202124;
}

#comentarios > span > .detalhe {
    font-family: "Comfortaa",sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #5f9bce;
    display: block;
    margin-top: 15px;
}

#depoimentos > div {
    margin-top: -10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#depoimentos > div > span {
    margin-right: 35px;
    display: grid;
}

#depoimentos > div > .link1 {
    margin-left: 40px;
}

#depoimentos > div > span > a {
    text-decoration: none;
    font-family: "Chivo",sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    color: #5f9bce;
    cursor: pointer;
}

#depoimentos > div > span > a:hover {
    color: #6f869a;
}

#depoimentos > div > span > hr {
    border: 1px solid #5f9bce;
    width: 112px;
    margin: 6px 0 0 0 ;
    cursor: pointer;
}

#depoimentos > div > .link1 > hr {
    width: 205px;
}

#depoimentos > div > .link2 > hr {
    width: 90px;
}

aside {
    margin-top: 40px;
}

aside > .texto {
    background-color: #F6F6F6;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.artigo {
    display: grid;
    padding: 12% 12% 12% 12%;
}

.artigo > hr {
    margin: 0 auto 0 auto;
}

.artigo > h2 {
    margin: 20px auto 40px auto;
    font-family: "Comfortaa",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202124;
}

.artigo > p {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    line-height: 1.5em;
}

.fotos {
    margin-top: 40px;
    width: 100%;
}

.fotos > h2 {
    font-family: 'Comfortaa', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    text-align: center;
    margin-bottom: 52px;
}

.galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria > img {
    width: 32.2%;
    margin-bottom: 12px;
}

.contato {
    margin-top: 40px;
    width: 100%;
}

.contato > h2 {
    font-family: 'Comfortaa', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    text-align: center;
    margin-bottom: 52px;
}

.contato > div {
    padding-bottom: 58%;
    position: relative;
}

.contato > div > iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

.informacoes {
    margin-top: 40px;
    width: 98%;
    display: flex;
    justify-content: center;
    padding-left: 2%;
}

.informacoes > span {
    width: 40%;
}

.informacoes > span > h3 {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #202124;
    line-height: 1.5em;
    margin-bottom: 17px;
}

.informacoes > span > button {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #5f9bce;
    width: 200px;
    height: 60px;
    border-radius: 2px;
    margin-bottom: 25px;
}

.informacoes > span > button:hover {
    background-color: #6f869a;
}

.informacoes > span > p {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    line-height: 1.5em;
}

.datas {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    line-height: 1.7em;
}

.datas > td {
    padding-right: 10px;
}

footer {
    min-width: 300px;
    max-width: 1242px;
    padding: 0 8% 0 8%;
    margin: 90px auto 70px auto;
}

footer > hr {
    width: 99%;
    border: 1px solid #b5b5b5;
}

footer > span {
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

footer > span > p {
    font-family: "Chivo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #b5b5b5;
    line-height: 1.7em;
}

footer > span > p > strong {
    font-size: 16px;
}

@media (max-width: 990px) {
    .noticias {
        width: 93%;
        margin: auto;
    }

    .noticias > figure {
        width: 46.1%;
        margin: 0 auto 70px auto;
    }

    #comentarios {
        width: 93%;
        margin: auto;
    }
    
    #comentarios > span {
        width: 46.1%;
        margin: 0 0 55px 0;
    }

    .galeria {
        width: 83%;
        margin: auto;
    }
    
    .galeria > img {
        width: 48.1%;
        margin-bottom: 0 0 12px 0;
    }
    
    .informacoes {
        width: 98%;
        display: grid;
        justify-content: left;
        margin: 40px auto 0 auto;
    }

    .informacoes > span {
        margin-bottom: 30px;
        width: 80%;
    }
}

@media (max-width: 800px) {
    header > #content {
        margin-left: 30px;
    }

    .menu-auxiliar {
        display: flex;
    }

    header > ul {
        display: none;
        margin-right: 25px;
    }
}

@media (max-width: 640px) {
    

    main {
        padding: 70px 0 0 0;
    }

    .noticias {
        width: 100%;
    }

    .noticias > figure {
        width: 93%;
    }

    #comentarios {
        width: 100%;
        justify-content: center;
    }
    
    #comentarios > span {
        width: 93%;
    }

    .galeria {
        width: 100%;
        justify-content: center;
    }
    
    .galeria > img {
        width: 93%;
        margin-bottom: 30px;
    }

    footer {
        padding: 0;
    }

    footer > span {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    footer > span > p{
       line-height: 2em;
    }
}

@media (max-width: 410px) {
    #depoimentos > div {
        display: grid;
    }

    #depoimentos > div > .link1 {
        margin-left: 0px;
        margin-bottom: 15px;
    }
}